// Colors

$black: #000;
$white: #fff;
$blue: #3c8fc2;
$orange-light: #fceed3;
$orange-dark: #f1b83d;
$gray-dark: #e8ecee;
$gray-light: #f8f9f8;
$text-light: #adb7c7;
$text-dark: #233250;
$border-light: #e3e8ea;
$option-dark : #e8ecee;
$option-light : #f8f9f8;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
