// Colors

$black: #000;
$white: #fff;
$blue: #3c8fc2;
$orange-light: #fceed3;
$orange-dark: #f1b83d;
$gray-dark: #e8ecee;
$gray-light: #f8f9f8;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
